<div id="gtco-features">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
                <h2 class="cursive-font">Nossos Serviços</h2>
                <p>Foco é Delivery levar deliciosas empanadas artesanal argentinas, bebidas, alfajor no conforto do seu lar!
                    É esse é o conceito que utilizamos para produzir nossos pratos.
                    Produtos, orgânicos livres de agrotóxicos viva bem! viva com saúde  
                    </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
                    <span class="icon">
                        <i class="ti-face-smile"></i>
                    </span>
                    <h3>Pessoas Felizes</h3>
                    <p>Nossa missão e cliente satisfeito e felizes com nosso serviços!</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
                    <span class="icon">
                        <i class="ti-thought"></i>
                    </span>
                    <h3>Culinária Criativa</h3>
                    <p>Produtos diferenciados para alimentação saudável!</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="feature-center animate-box" data-animate-effect="fadeIn">
                    <span class="icon">
                        <i class="ti-truck"></i>
                    </span>
                    <h3>Delivery</h3>
                    <p>Nosso foco e Delivery você pedi agente entrega no conforto da sua casa!</p>
                </div>
            </div>


        </div>
    </div>
</div>
