
		<div class="gtco-cover gtco-cover-sm" style="background-image: url(images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="gtco-container text-center">
				<div class="display-t">
					<div class="display-tc">
						<h1>&ldquo; 
							O que nos diferencia não é apenas a qualidade e o sabor de nossos produtos, o calor e a atmosfera familiar fazem de La empanadas um lugar confortável e único&rdquo;</h1>
						<p>&mdash; La empanadas </p>
					</div>
				</div>
			</div>
		</div>
